/* src/App.css */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  /* Añadir un espacio entre los contenedores */
}

.upload-container,
.report-container {
  background-color: #a83232;
  /* Color de fondo del contenedor del reporte */
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 40px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detection-score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.upload-container {
  background-color: #121212;
}

.report-container {
  background-color: #121212;
}

.upload-container h1,
.report-container h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.upload-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#file-input {
  display: none;
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #1f1f1f;
  color: #ffffff;
  border: 2px dashed #4CAF50;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:disabled {
  background-color: #888888;
  cursor: not-allowed;
}